.HomeOurProjectsSwiper {
  width: 100%;
  height: 77vw;
  padding-bottom: 12px;

  @media screen and (min-width: 360px) {
    height: 75vw;
  }

  @media screen and (min-width: 768px) {
    height: 71.5vw;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1024px) {
    height: 46.7vw;
    padding-bottom: 56px;
  }

  @media screen and (min-width: 1440px) {
    height: 717px;
    padding-bottom: 72px;
  }
}

.HomeOurProjectsSwiper .swiper-slide {
  display: flex;
  justify-content: center;
}

.HomeOurProjectsSwiper .slideContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

.projectLink {
  height: 100%;
  margin-bottom: 16px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 0px;
    margin-right: 24px;
  }
}

.HomeOurProjectsSwiper .imgWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border: 4px solid #0d0d11;
  border-radius: 16px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    border: 8px solid #0d0d11;
    border-radius: 32px;
  }

  @media screen and (min-width: 1024px) {
    width: 61.72vw;
    border: 12px solid #0d0d11;
    border-radius: 56px;
  }

  @media screen and (min-width: 1440px) {
    width: 966px;
    height: 645px;
  }
}

.HomeOurProjectsSwiper .swiper-slide .slideImg {
  display: block;
}

.HomeOurProjectsSwiper .swiper-slide .slideTitle {
  font-family: var(--font-noto-sans);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;

  @media screen and (min-width: 360px) {
    font-size: 24px;
    line-height: 1.4;
  }

  @media screen and (min-width: 768px) {
    font-family: var(--font-exo);
    font-size: 36px;
    line-height: 1.1;
  }

  @media screen and (min-width: 1024px) {
    padding: 0px 20px;
    font-size: 44px;
  }

  @media screen and (min-width: 1440px) {
    padding: 20px;
  }
}

.HomeOurProjectsSwiper .swiper-slide .gradient {
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, #faff00, #00f0ff, #0400b3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.HomeOurProjectsSwiper .swiper-pagination {
  bottom: 0px;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.HomeOurProjectsSwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #cbcbcf;
}

.HomeOurProjectsSwiper .swiper-pagination-bullet-active {
  background: linear-gradient(to right, #faff00, #00f0ff, #0400b3);
}

.HomeOurProjectsSwiper .swiper-button-prev,
.HomeOurProjectsSwiper .swiper-button-next {
  visibility: hidden;
}

.HomeOurProjectsSwiper .swiper-button-prev:after,
.HomeOurProjectsSwiper .swiper-button-next:after {
  font-size: 12px;
  font-weight: 900;
  color: #a6a6aa;
}

@media screen and (min-width: 1024px) {
  .HomeOurProjectsSwiper .swiper-button-prev {
    visibility: visible;
    left: 0px;
    top: 95%;
    width: 48px;
    height: 48px;
  }

  .HomeOurProjectsSwiper .swiper-button-next {
    visibility: visible;
    left: 48px;
    top: 95%;
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .HomeOurProjectsSwiper .swiper-button-prev {
    top: 97%;
  }

  .HomeOurProjectsSwiper .swiper-button-next {
    top: 97%;
  }
}
