@import '../../app/variables';

.heroContainer {
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  height: 100%;
  box-shadow: inset 120px 0px 108px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 120px 0px 108px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 120px 0px 108px 0px rgba(0, 0, 0, 1);

  &::before {
    content: '';
    display: block;
    width: 500px;
    height: 500px;
    background-image: url('../../../public/pattern_planet_hero.webp');
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-attachment: lazy;
    box-shadow: inset -7px 0px 30px -5px #2f8ad5db, 0px 0px 100px 0px #1653845c;
    -webkit-box-shadow: inset -7px 0px 30px -5px #2f8ad5db,
      0px 0px 100px 0px #1653845c;
    -moz-box-shadow: inset -7px 0px 30px -5px #2f8ad5db,
      0px 0px 100px 0px #1653845c;
    // box-shadow: inset -9px 0px 10px -4px #0b0229,
    //   inset -7px 0px 30px -5px #2f8ad5db, 0px 0px 35px 0px #2a3baa63;

    // box-shadow: inset -7px 0px 15px -5px #2f8ad5db;
    // -webkit-box-shadow: inset -7px 0px 15px -5px #2f8ad5db;
    // -moz-box-shadow: inset -7px 0px 15px -5px #2f8ad5db;

    // box-shadow: inset 500px 0px 168px 0px rgba(0, 0, 0, 1),
    //   inset -7px 0px 5px -5px #fdfff26d;
    // -webkit-box-shadow: inset 500px 0px 168px 0px rgba(0, 0, 0, 1),
    //   inset -7px 0px 5px -5px #fdfff26d;
    // -moz-box-shadow: inset 500px 0px 168px 0px rgba(0, 0, 0, 1),
    //   inset -7px 0px 5px -5px #fdfff26d;
    margin-left: -65%;
    margin-top: -15%;

    // раскомментировать после окончания разработки
    // animation: rotate 200s infinite linear;

    z-index: -1;

    @media screen and (min-width: $mobile) {
      margin-left: -45%;
      margin-top: -5%;
    }

    @media screen and (min-width: 540px) {
      margin-left: -40%;
      margin-top: -5%;
    }

    @media screen and (min-width: $tablet) {
      width: 900px;
      height: 900px;
      margin-left: -40%;
      margin-top: -10%;
      box-shadow: inset -7px 0px 30px -5px #2f8ad5db,
        0px 0px 150px 0px #1653845c;
      -webkit-box-shadow: inset -7px 0px 30px -5px #2f8ad5db,
        0px 0px 150px 0px #1653845c;
      -moz-box-shadow: inset -7px 0px 30px -5px #2f8ad5db,
        0px 0px 150px 0px #1653845c;
    }

    @media screen and (min-width: $laptop) {
      margin-left: -18%;
      margin-top: -10%;
    }

    @media screen and (min-width: 1280px) {
      margin-left: -10%;
      margin-top: -5%;
    }

    @media screen and (min-width: $desktop) {
      width: 1200px;
      height: 1200px;
      margin-left: -10%;
      margin-top: -15%;
    }
  }

  @media screen and (min-width: $tablet) {
    box-shadow: inset 230px 0px 228px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset 230px 0px 228px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 230px 0px 228px 0px rgba(0, 0, 0, 1);
    padding-top: 124px;
  }

  @media screen and (min-width: $desktop) {
    box-shadow: inset 480px 0px 248px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset 480px 0px 248px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 480px 0px 248px 0px rgba(0, 0, 0, 1);
    padding-top: 148px;
  }
}

@keyframes rotate {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

.heroContent {
  position: absolute;
  top: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $mobile) {
    top: 224px;
  }

  @media screen and (min-width: $tablet) {
    top: 384px;
    right: 32px;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
  }

  @media screen and (min-width: $laptop) {
    top: 327px;
    right: 72px;
  }

  @media screen and (min-width: $desktop) {}
}

.title {
  font-size: 40px;
  font-weight: 300;
  line-height: 53px;
  letter-spacing: 0em;
  margin-bottom: 24px;
  color: $gray0;
  text-align: center;

  @media screen and (min-width: $mobile) {
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 58px;
    line-height: 64px;
    margin-bottom: 8px;
    text-align: end;
  }

  @media screen and (min-width: $laptop) {
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 96px;
    line-height: 106px;
    margin-bottom: 24px;
  }
}

.text {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    font-size: 38px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.01em;
  }

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 48px;
  }
}

.textItem {
  font-weight: 500;
  background: linear-gradient(90deg,
      #00d7f7 0%,
      #00cdf4 5.33%,
      #01a2e6 29.22%,
      #0192e1 41.44%,
      #0182dc 46.57%,
      #025cd0 60.02%,
      #024ecc 67.12%,
      #0235c4 79.05%,
      #0323be 91.35%,
      #031cbc 100%);

  // background: linear-gradient(
  //     87.58deg,
  //     $gradientCyan 47.63%,
  //     $gradientBlue 98.76%
  //   ),
  //   linear-gradient(0deg, #ffffff, #ffffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}