@import "../../variables";

.layoutContainer {
    width: 100%;
    max-width: 1440px;
    padding-top: 60px;

    @media screen and (min-width:$tablet) {
        padding-top: 100px;
    }
}

.successWelcome {
    text-align: center;
    color: #5680eb;
}

.errorWelcome {
    text-align: center;
    color: #f41313;
}