@import "../../../app/variables";

.langsWrapper {
  & li {
    width: min-content;
    line-height: 1.6;
    cursor: pointer;
    // background-image: $gradient;
    // background-clip: text;
    &:hover,
    &:focus {
      color: transparent;
      background-image: $gradient;
      background-clip: text;
    }
  }
}
.active {
  color: transparent;
  background-image: $gradient;
  background-clip: text;
}
