@import "../../app/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 500px;
  background-color: #2d2b42;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}

.loginBtn {
  width: 100%;
  padding: 20px;
  font-family: var(--font-noto-sans);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  cursor: pointer;
}