@import '../../app/variables';


.section {
  padding-top: 40px;

  @media screen and (min-width: $laptop) {
    padding-top: 80px;
  }
}

// .container {
//   // padding-top: 40px;
//   // display: block;
//   // height: 955px;
//   // height: 955px;
//   // height: 1356px;
//   // min-width: 360px;
//   // height: 462px;
//   // background-color: $backgroundColor;

//   // @media screen and (min-width: $tablet) {
//   //   // height: 923px;
//   // }

//   // @media screen and (min-width: $laptop) {
//   //   // height: 1066px;
//   //   // padding-top: 80px;
//   // }

//   // @media screen and (min-width: $desktop) {
//   //   // height: 1356px;
//   // }
// }

// .con {
//   // height:1000px;
//   // margin-bottom: 10px;
//   // display: block;
// }

.title {
  font-weight: 300;
  font-size: 48px;
  line-height: 1.1;

  margin-bottom: 4px;

  @media screen and (min-width: $tablet) {
    font-weight: 300;
  }

  @media screen and (min-width: $laptop) {
    font-weight: 400;
    font-size: 64px;
    margin-bottom: 16px;
    background-clip: text;
  }

  @media screen and (min-width: $desktop) {
    font-weight: 300;
    font-size: 72px;
  }
}

.subTitleLaptop {
  font-size: 40px;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    width: fit-content;
    font-weight: 300;
    // font-size: 48px;
    // line-height: 1.1;
    margin-bottom: 16px;
  }

  @media screen and (min-width: $laptop) {
    // display: block;
    // width: 50%;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    color: $gray0;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    // line-height: 1.1;
    margin-bottom: 48px;
  }
}

.btnNavContainer {
  width: 100%;
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    width: 47.16%;
  }

  @media screen and (min-width: $laptop) {
    margin-bottom: 48px;
    width: 27.71%;
  }

  @media screen and (min-width: $desktop) {
    width: 20.52%;
  }
}

#btnNav {
  width: 100%;
}