@import "../../../app/variables";

.burgerBtn {
  border: none;
  background: none;
  width: 32px;
  height: 32px;
  & svg {
    width: 100%;
    height: 100%;
  }

  // @media screen and (min-width: $desktop) {
  //   display: none;
  // }
}
