@import "../../app/variables";

.section {
  padding: 40px 0px;

  @media screen and (min-width: $tablet) {
    padding: 40px 32px;
    align-items: flex-start;
  }

  @media screen and (min-width: $laptop) {
    padding: 80px 32px;
  }

  @media screen and (min-width: $desktop) {
    padding: 80px 72px;
    align-items: center;
  }
}

.contentWrap {
  // width: 320px;
  width: fit-content;

  @media screen and (min-width: $mobile) {
    // width: 360px;
    margin: 0 auto;
  }

  @media screen and (min-width: $tablet) {
    // width: 704px;
    margin: 0;
  }

  @media screen and (min-width: $laptop) {
    // width: 860px;
  }
}

.titleWrap {
  // width: 260px;
  margin-bottom: 20px;
  padding: 0px 20px;
  // margin-left: auto;
  // margin-right: auto;
  // width: 100%;
  // width: 320px;

  @media screen and (min-width: $mobile) {
    padding: 0px 24px;
    // padding-left: 8px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
    padding: 0;
  }

  @media screen and (min-width: $laptop) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 48px;
  }
}

.title {
  font-family: var(--font-exo);
  font-size: 36px;
  font-weight: 300;
  line-height: 1.3;
  // width: max-content;
  width: fit-content;

  @media screen and (min-width: $mobile) {
    // font-size: 38px;
    font-size: 48px;
  }

  @media screen and (min-width: $tablet) {
    // font-size: 58px;
    text-transform: uppercase;
  }

  @media screen and (min-width: $laptop) {
    font-size: 64px;
    text-transform: none;
  }

  @media screen and (min-width: $desktop) {
    font-size: 72px;
  }
}