@import '../../app/variables';

.faqSection {
  padding-top: 40px;
  align-items: flex-start;

  @media screen and (min-width: $laptop) {
    padding-top: 80px;
  }

  @media screen and (min-width: $desktop) {
    align-items: center;
  }
}

.faqSection__title {
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 0;
  margin-bottom: 8px;

  @media screen and (min-width: $mobile) {
    font-size: 48px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 48px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 72px;
    font-weight: 300;
  }
}

.faqSection__title2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0;
  margin-bottom: 20px;

  @media screen and (min-width: $mobile) {
    font-size: 40px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 40px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 44px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    margin-bottom: 48px;
  }
}

.faqSection__readMore {
  display: flex;
  margin-bottom: 24px;

  @media screen and (min-width: $mobile) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $laptop) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 48px;
  }
}

.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;

  & button {
    outline: none;
  }

  @media screen and (min-width: $tablet) {
    width: 70%;
    margin-left: auto;
  }
}

.base {
  width: 100%;

  & section {
    padding: 0;
  }

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.trigger {
  width: 100%;
  padding: 24px 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  background: $backgroundColor;
  border: none;
  text-align: start;
  justify-content: space-between;

  box-shadow: 6px 12px 32px 0px rgba(26, 140, 255, 0.1);

  @media screen and (min-width: $mobile) {
    padding: 24px;
    gap: 24px;
  }

  @media screen and (min-width: $tablet) {
    gap: 66px;
  }

  @media screen and (min-width: $laptop) {
    gap: 24px;
  }
}

.title {
  color: $gray0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
  white-space: pre-line;
  display: block;

  @media screen and (min-width: $laptop) {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.4;
  }

  @media screen and (min-width: $desktop) {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.01em;
  }
}

.content {
  padding: 8px 12px;
  color: $gray0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  text-align: start;

  @media screen and (min-width: $mobile) {
    padding: 8px 24px;
  }

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $laptop) {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
  }

  @media screen and (min-width: $desktop) {
    font-weight: 400;
    letter-spacing: 0.01em;
  }
}