@import '../../app/variables';

.blogShowClose {
  animation: blogShowClose 500ms ease-in-out;
}
@keyframes blogShowClose {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-25%);
    opacity: 0;
  }
}

.blogShowOpen {
  animation: blogShowOpen 500ms ease-in-out;
}
@keyframes blogShowOpen {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.blogShow {
  padding: 16px 8px;
  box-shadow: 6px 12px 32px 0 rgba(26, 140, 255, 0.1);
  background: #000;
  @media screen and (min-width: $mobile) {
    padding: 16px 16px;
  }
  @media screen and (min-width: $tablet) {
    padding: 32px 32px;
  }
  @media screen and (min-width: $laptop) {
    height: 100%;
    flex: 1;
  }
}

.blogShowTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    font-size: 32px;
  }
  @media screen and (min-width: $laptop) {
    font-size: 36px;
    letter-spacing: 0.01em;
  }
}

.blogShowList {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
