@import "../../app/variables";

.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 360px;
    height: 532px;
    text-align: center;
    padding: 24px;
    background-color: $gray900;
    box-shadow: 6px 12px 32px 0px rgba(26, 140, 255, 0.5);
    // @media screen and (min-width: 1440px) {
    //     width: 1081px;
    //     height: 635px;
    // }
}

.closeBtn {
    position: absolute;
    top: 32px;
    right: 32px;
    border: none;
    cursor: pointer;
    @media screen and (min-width: 1440px) {
        top: 100px;
        right: 100px;
    }
}

.iconBtnClose {
    position: absolute;
    bottom: 2px;
    width: 24px;
    height: 24px;
    fill: $gray600;
    @media screen and (min-width: 1440px) {
        left: 10px;
        width: 32px;
        height: 32px;
    }
}

.titleWrap {
    display: flex;
    padding-left: 24px;
    margin-bottom: 24px;
    width: 360px;
}

.title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    @media screen and (min-width: 1440px) {
        margin: 55px 0 0 0;
    }
}

.form {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 20px;
    @media screen and (min-width: 768px) {
    }
}

.inputWrap {
    position: relative;
}

.input {
    width: 312px;
    height: 60px;
    background-color: $gray0;
    outline: none;
    padding: 12px 20px;
    border-radius: 16px;
    border: 1px solid rgba(133, 133, 136, 1);
}

.input::placeholder {
    font-size: 16px;
    color: $gray700;
}

.textarea::placeholder {
    font-size: 18px;
    color: $gray700;
}

.inputError {
    border: 1px solid rgba(213, 0, 0, 1);
    color: rgba(213, 0, 0, 1);
}

.inputSuccess {
    border: 1px solid rgba(5, 255, 0, 1);
}

.textarea {
    height: 180px;
    resize: none;
}

.submitButton {
    & button {
        letter-spacing: 2px;
    }
}

.error {
    position: absolute;
    top: -20px;
    right: 10px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    // @media screen and (min-width: $desktop) {
    //     left: 10px;
    //     top: 85px;
    // }
}
