@import '../../app/variables';

.blogContainer {
  padding: 100px 20px 40px 20px;
  @media screen and (min-width: $mobile) {
    padding: 110px 20px 80px 20px;
  }
  @media screen and (min-width: $tablet) {
    padding: 112px 20px 80px 20px;
  }
  @media screen and (min-width: $laptop) {
    padding: 112px 32px 80px 32px;
  }
  @media screen and (min-width: $desktop) {
    padding: 112px 72px 80px 72px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titleBlogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 24px;
  animation: fadeIn 0.8s ease-in-out forwards;
  @media screen and (min-width: $mobile) {
    margin-bottom: 18px;
  }
  @media screen and (min-width: $tablet) {
    row-gap: 16px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $laptop) {
    row-gap: 16px;
    margin-bottom: 48px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 72px;
  }
}

.titleBlog {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  & span {
    background: linear-gradient(91deg, $gradientYellow 0%, $gradientCyan 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media screen and (min-width: $mobile) {
    font-size: 40px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 48px;
  }
  @media screen and (min-width: $laptop) {
    font-size: 64px;
  }
  @media screen and (min-width: $desktop) {
    font-weight: 300;
    font-size: 96px;
  }
}

.descBlog {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4;
    color: $gray0;
  }
  @media screen and (min-width: $laptop) {
    font-size: 36px;
    letter-spacing: 0.01em;
  }
  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cartContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  animation: fadeUp 0.8s ease-in-out forwards;
  @media screen and (min-width: $mobile) {
    row-gap: 16px;
  }
  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    row-gap: 18px;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
  @media screen and (min-width: $laptop) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
  }
  @media screen and (min-width: $desktop) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.cartContainerCloseNotFound {
  grid-template-rows: 10rem;
  @media screen and (min-width: $tablet) {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    & > li {
      grid-column: span 2;
    }

    @media screen and (min-width: $laptop) {
      grid-template-columns: repeat(3, 1fr);
      & > li {
        grid-column: span 3;
      }
    }
  }
}

.cartContainerNotFound {
  @media screen and (min-width: $laptop) {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    & > div {
      grid-column: span 1;
    }
    & > li {
      grid-column: span 2;
    }
  }
}

.cartContainerOpen {
  @media screen and (min-width: $laptop) {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    & > div {
      grid-column: span 1;
    }
    & > li {
      grid-column: 2;
    }
    & > li:nth-child(2n + 1) {
      grid-column: 3;
    }
  }
}

.cartContainerOpenDirectionMore {
  @media screen and (min-width: $laptop) {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    & > div {
      // grid-column: span 1;
      grid-row: 1 / 3;
      height: max-content;
      min-height: 436px;
      @media screen and (min-width: $desktop) {
        min-height: 448px;
      }
    }
    & > li {
      grid-column: 2;
    }
    & > li:nth-child(2n + 1) {
      grid-column: 3;
    }
  }
}

.loading {
  width: 100%;
  margin: 0px auto;
}

.loadingText {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: clamp(20px, 3vw, 40px);
  font-weight: normal;

  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.9374343487394958) 0%,
    rgba(4, 4, 4, 1) 50%,
    rgba(250, 250, 250, 1) 100%
  );

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: $gray0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0;

  animation: textclip 2s linear infinite;
  @media screen and (min-width: $tablet) {
  }
}

@keyframes textclip {
  to {
    background-position: -100%;
  }
}
.notFoundTextStyles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  color: $gray0;
  @media screen and (min-width: $laptop) {
    font-size: 32px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
}
