@import '../../app/variables';

.blogContainer {
  padding: 112px 20px 40px 20px;
  @media screen and (min-width: $mobile) {
    padding: 120px 24px 80px 24px;
  }
  @media screen and (min-width: $tablet) {
    padding: 162px 31px 40px 32px;
  }
  @media screen and (min-width: $laptop) {
    padding: 204px 32px 80px 32px;
  }
  @media screen and (min-width: $desktop) {
    padding: 228px 72px 80px 72px;
  }
}

.titleBlogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 24px;
  @media screen and (min-width: $mobile) {
    margin-bottom: 18px;
  }
  @media screen and (min-width: $tablet) {
    row-gap: 16px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $laptop) {
    row-gap: 16px;
    margin-bottom: 48px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 72px;
  }
}

.titleBlog {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  & span {
    background: linear-gradient(91deg, $gradientYellow 0%, $gradientCyan 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media screen and (min-width: $mobile) {
    font-size: 40px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 48px;
  }
  @media screen and (min-width: $laptop) {
    font-size: 64px;
  }
  @media screen and (min-width: $desktop) {
    font-weight: 300;
    font-size: 96px;
  }
}

.descBlog {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4;
    color: #fff;
  }
  @media screen and (min-width: $laptop) {
    font-size: 36px;
    letter-spacing: 0.01em;
  }
  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.1;
  }
}

.cartContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  @media screen and (min-width: $mobile) {
    row-gap: 16px;
  }
  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    row-gap: 18px;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
  @media screen and (min-width: $laptop) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
  }
  @media screen and (min-width: $desktop) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.cartContainerOpen {
  @media screen and (min-width: $laptop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    & > div {
      grid-column: span 1;
    }
    & > li {
      grid-column: 2;
    }
    & > li:nth-child(2n + 1) {
      grid-column: 3;
    }
  }
}

.cartItem {
  box-shadow: 6px 12px 32px 0 rgba(26, 140, 255, 0.1);
  background-color: #0d0d11;
  padding: 16px 8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    padding: 24px 16px;
  }
  @media screen and (min-width: $desktop) {
    padding: 24px 24px;
  }
}

.cartImgContainer {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 8px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: $desktop) {
    width: 368px;
  }
}

.cartImg {
  object-fit: cover;
}

.cartTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 8px;
  @media screen and (min-width: $laptop) {
    font-size: 26px;
  }
  @media screen and (min-width: $desktop) {
  }
}

.cartDesc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  @media screen and (min-width: $tablet) {
    font-size: 20px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: $laptop) {
    margin-bottom: 4px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 16px;
  }
}

.readMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.readMoreTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.readMoreIcon {
  width: 32px;
  height: 12px;
  margin-left: 16px;
}

.loading {
  width: 100%;
  margin: 0px auto;
}

.loadingText {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(20px, 3vw, 40px);
  font-weight: normal;

  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.9374343487394958) 0%,
    rgba(4, 4, 4, 1) 50%,
    rgba(250, 250, 250, 1) 100%
  );

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0;

  animation: textclip 2s linear infinite;
  @media screen and (min-width: $tablet) {
  }
}

@keyframes textclip {
  to {
    background-position: -100%;
  }
}
