$mobile: "360px";
$tablet: "768px";
$laptop: "1024px";
$desktop: "1440px";


$backgroundColor: #000000;

$gradientYellow: #FAFF00;
$gradientCyan: #00F0FF;
$gradientBlue: #0400B3;

$gray900: #0D0D11;
$gray800: #2E2E31;
$gray700: #4B4B4E;
$gray600: #5E5E61;
$gray500: #858588;
$gray400: #A6A6AA;
$gray300: #CBCBCF;
$gray200: #DFDFE3;
$gray100: #ECECF0;
$gray50: #F6F6FA;
$gray0: #FFFFFF;

$errorColor: #D50000;
$successColor: #05FF00;
$warningColor: #FFC700;

$shadowColor: 6px 12px 32px 0px #1A8CFF1A;