@import "../../app/variables";

.header {
  background-color: $gray900;
  padding: 0px 20px;
  height: 72px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  position: fixed;

  @media screen and (min-width: $mobile) {
    height: 80px;
    padding: 0px 24px;
  }
  @media screen and (min-width: $tablet) {
    height: 120px;
    padding: 0px 32px;
  }
  @media screen and (min-width: $desktop) {
    height: 148px;
    justify-content: space-between;
    padding: 0px 72px;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navWrapper,
.navWrapperVisible {
  position: absolute;
  top: 72px;
  left: 0;
  padding: 24px;
  background-color: $gray900;
  font-size: 16px;
  transform: translateX(-100%);
  @media screen and (min-width: $desktop) {
    position: static;
    transform: translateX(0%);
    display: flex;
    align-items: center;
    gap: 40px;
  }

  & nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;

    @media screen and (min-width: $mobile) {
      top: 80px;
    }
    @media screen and (min-width: $tablet) {
      top: 120px;
    }
    @media screen and (min-width: $desktop) {
      position: static;
      transform: translateX(0%);
      flex-direction: row;
      gap: 40px;
    }
  }
}

.navWrapperVisible {
  transform: translateX(0%);
}

.xsLangSwitcher {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobileLangSwitcher {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 44px;
}

.logo {
  width: 32px;
  height: 32px;

  @media screen and (min-width: $tablet) {
    width: 72px;
    height: 72px;
  }
}
