@import "../../app/variables";

.header {
  background-color: $gray900-90;
  padding: 0px 20px;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  position: fixed;
  transition-duration: 500ms;
  backdrop-filter: blur(6px);
  box-shadow: 6px 12px 32px 0px rgba(26, 140, 255, 0.1);
  @media screen and (min-width: $mobile) {
    padding: 0px 24px;
  }

  @media screen and (min-width: $tablet) {
    height: 100px;
    padding: 0px 32px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: space-between;
    padding: 0px 72px;
  }
}

.Hidden {
  transform: translateY(-100%);
}

.Visible {
  transform: translateY(0%);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navWrapper,
.navWrapperVisible {
  position: absolute;
  top: 60px;
  left: 0;
  padding: 24px;
  padding-right: 0;
  background-color: $gray900;
  font-size: 16px;
  transform: translateX(-100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: auto;
  max-height: calc(100vh - 60px);
  transition-duration: $transitionDuration;

  @media screen and (min-width: $mobile) {
    width: 327px;
  }

  @media screen and (min-width: $tablet) {
    width: 412px;
    padding: 24px 32px;
    top: 100px;
  }

  @media screen and (min-width: $laptop) {
    width: 327px;
    overflow: visible;
  }

  @media screen and (min-width: $desktop) {
    position: static;
    transform: translateX(0%);
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: fit-content;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  & nav {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: $mobile) {
      top: 80px;
    }

    @media screen and (min-width: $tablet) {
      top: 120px;
      gap: 24px;
    }

    @media screen and (min-width: $desktop) {
      position: static;
      transform: translateX(0%);
      flex-direction: row;
      gap: 40px;
    }
  }
}

.navWrapperVisible {
  transform: translateX(0%);
  box-shadow: 6px 12px 32px 0px rgba(26, 140, 255, 0.1);
}

.xsLangSwitcher {
  display: block;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobileLangSwitcher {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 44px;
}

.logo {
  width: 32px;
  height: 32px;
  position: relative;
  transition-duration: $transitionDuration;

  &:hover,
  &:focus {
    filter: brightness(2) drop-shadow(6px 12px 24px rgba(26, 140, 255, 0.5));
  }

  @media screen and (min-width: $tablet) {
    width: 72px;
    height: 72px;
    transform: translateY(-8px);
  }
}
