@import "../../app/variables";

.container {
    width: 100%;
    padding: 8px 16px;
    background-color: $gray300;
    color: $gray900;
    border: 1px solid $gray900;
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-family: var(--font-work-sans);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

    @media screen and (min-width:$desktop) {
        padding: 16px 24px;
        gap: 12px;
    }
}

.container:not(:last-child) {
    margin-bottom: 24px;
}

.slug {
    margin-top: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
}

.titleEng {
    font-weight: 600;
    color: $gray900;
}

.titleUkr {
    font-weight: 600;
    color: $gray0;
}

.heroImage {
    @media screen and (min-width:$laptop) {
        margin-left: auto;
        margin-right: auto;
    }
}

.screensImage {
    @media screen and (min-width:$laptop) {
        margin-left: auto;
        margin-right: auto;
        ;
    }
}

.imgsWrapper {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.titlesBold {
    display: block;
    margin-bottom: 2px;
    font-weight: 600;
}

.ukrainian {
    color: $lightBlue;
}