@import "../../app/variables";

.container {
    flex: 1;
    position: relative;
    width: 100%;
    padding: 8px 16px;
    background-color: $gray300;
    color: $gray900;
    border: 1px solid $gray900;
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-family: var(--font-work-sans);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

    @media screen and (min-width:$desktop) {
        padding: 8px 24px;
    }
}

.signature {
    display: flex;
    gap: 12px;
}

.slug {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
}

.titleEng {
    font-weight: 600;
    color: $gray900;
}

.titleUkr {
    font-weight: 600;
    color: $gray0;
}

.imgWrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (min-width:$laptop) {
        justify-content: center;
    }
}

.deleteIcon {
    width: 22px;
    height: 24px;
    stroke: $gray900;
    fill: transparent;
}

.deleteIcon:hover {
    cursor: pointer;
    stroke: #ff2828;
}

.imagesWrapper {
    display: flex;
    justify-content: center;
    gap: 2px;

    @media screen and (min-width:$laptop) {
        gap: 4px;
    }
}

.column {
    flex-direction: column;
}

.titlesBold {
    display: block;
    margin-bottom: 2px;
    font-weight: 600;
}

.ukrainian {
    color: $lightBlue;
}