.teamSwiper {
    padding-top: 24px;
    padding-bottom: 44px;
}

.teamSwiper .swiper-pagination {
    bottom: -5px;
}

.teamSwiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #cbcbcf;
}

.teamSwiper .swiper-pagination-bullet:hover {
    opacity: 1;
    background: linear-gradient(to right, #faff00,
            #00f0ff,
            #0400b3);
}

.teamSwiper .swiper-pagination-bullet-active {
    background: linear-gradient(to right, #faff00,
            #00f0ff,
            #0400b3);
}

.teamSwiper .swiper-button-prev {
    color: #A6A6AA;
}
.teamSwiper .swiper-button-prev:hover {
    color: linear-gradient(to right, #faff00,
    #00f0ff,
    #0400b3);
}

.teamSwiper .swiper-button-prev {
    color: #A6A6AA;
    transition: color 0.3s ease;
    background-clip: text;
    -webkit-background-clip: text;
}

.teamSwiper .swiper-button-prev:hover {
    color: transparent;
    background-image: linear-gradient(to right, #faff00,
    #00f0ff,
    #0400b3);
    -webkit-text-fill-color: transparent;
}

.teamSwiper .swiper-button-next {
    color: #A6A6AA;
    transition: color 0.3s ease;
    background-clip: text;
    -webkit-background-clip: text;
}

.teamSwiper .swiper-button-next:hover {
    color: transparent;
    background-image: linear-gradient(to right, #faff00,
    #00f0ff,
    #0400b3);
    -webkit-text-fill-color: transparent;
}