@import "../../app/variables";

.footer {
    // border-top: 1px solid white;
    height: 130px;
    margin-top: auto;
    padding: 20px 32px 20px;
    @media screen and (min-width: $laptop) {
        height: 412px;
    }
    @media screen and (min-width: $desktop) {
        padding: 20px 72px 20px 72;
    }
}

.footerLaptop {
    margin-top: auto;
    height: 366px;
    height: 100%;
}

.footerDesktop {
    margin-top: auto;
    height: 366px;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media screen and (min-width: $laptop) {
        justify-content: center;
    }
}

.contentWrap {
    display: block;
    @media screen and (min-width: $laptop) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        margin-top: 40px;
    }
    @media screen and (min-width: $desktop) {
        max-width: 1500px;
    }
}

.contentLaptopWrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 32px 36px 32px;
    width: 100%;
}

.contentDesctopWrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 32px 60px 32px;
    width: 100%;
}

.innerWrap {
    width: 100%;
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: $desktop) {
        max-width: 900px;
    }
}

.foterSocList {
    @media screen and (min-width: $laptop) {
        display: flex;
        flex-direction: column;
        width: 50px;
    }
}

.contactsBox {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $laptop) {
        height: fit-content;
    }
}

.phone {
    @media screen and (min-width: $laptop) {
        font-family: var(--font-noto-sans);
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        height: fit-content;
    }
}

.phone:not(:last-child) {
    margin-bottom: 55px;
}

.callBtn {
    @media screen and (min-width: $laptop) {
        margin: 20px;
    }
}

.linkWrapper {
    font-family: var(--font-noto-sans);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
}

.navigation {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
}

.logo {
    width: 180px;
    height: 42px;
    position: relative;
}
