@import "../../app/variables";

.footer {
  height: 130px;
  border-top: 1px solid white;
  padding: 20px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
