@import '../../app/variables';

.ourProjectContainer {
  position: relative;
  padding: 112px 20px 79px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: $mobile) {
    padding: 110px 20px 80px 20px;
  }
  @media screen and (min-width: $tablet) {
    padding: 184px 20px 80px 20px;
  }
  @media screen and (min-width: $laptop) {
    padding: 184px 32px 80px 32px;
  }
  @media screen and (min-width: $desktop) {
    padding: 180px 72px 80px 72px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 8px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  color: $backgroundColor;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 16px;
  background-color: #f6f6fa;
  backdrop-filter: blur(6px);
  margin-right: auto;
  animation: fadeIn 0.8s ease-in-out forwards;
  @media screen and (min-width: $tablet) {
    font-size: 20px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: $laptop) {
    column-gap: 16px;
    padding: 0 8px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.backIcon {
  width: 32px;
  height: 12px;
  fill: $backgroundColor;
}

.ourProjectsTitle {
  height: 79px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.4;
  text-align: center;
  color: $gray0;
  margin-bottom: 12px;
  animation: fadeIn 0.8s ease-in-out forwards;
  @media screen and (min-width: $mobile) {
    height: 70px;
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $tablet) {
    height: 53px;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
  }

  @media screen and (min-width: $laptop) {
    height: 49px;
    font-size: 44px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    height: 70px;
    font-size: 64px;
    margin-bottom: 48px;
  }
}

.ourProjectsTitleGradient {
  @media screen and (min-width: $tablet) {
    background: linear-gradient($gray0, $gray0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.btnWrapper {
  width: 280px;
  height: 46px;
  padding: 3px;
  box-shadow: $shadowColor;
  margin-bottom: 24px;
  @media screen and (min-width: $mobile) {
    width: 312px;
    height: 46px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tablet) {
    width: 340px;
    height: 50px;
    margin-bottom: 32px;
    padding: 2px;
  }
  @media screen and (min-width: $laptop) {
    display: none;
  }
}

.openSite {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $gray0;
}

.imageLoader {
  background-color: #000000;
  width: 100%;
  height: 100%;
  @media screen and (min-width: $tablet) {
    border-radius: 30px;
  }
  @media screen and (min-width: $laptop) {
    border-radius: 56px;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  // width: 280px;
  height: 186px;
  box-shadow: $shadowColor;
  margin-bottom: 40px;
  animation: fadeUp 0.8s ease-in-out forwards;

  @media screen and (min-width: $mobile) {
    border-radius: 8px;
    // width: 312px;
    height: 208px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 400px) {
    height: 280px;
  }

  @media screen and (min-width: 560px) {
    height: 390px;
  }

  @media screen and (min-width: $tablet) {
    border-radius: 30px;
    // width: 704px;
    height: 494px;
    border: double 1px transparent;
    background-image: linear-gradient($gray0, $gray0), $gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  @media screen and (min-width: 900px) {
    height: 594px;
  }

  @media screen and (min-width: $laptop) {
    border-radius: 56px;
    // width: 960px;
    height: 675px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    height: 855px;
  }

  @media screen and (min-width: $desktop) {
    // width: 1296px;
    height: 85vh;
    // height: 910px;
  }
  & img {
    object-fit: cover;
    @media screen and (min-width: $tablet) {
      border-radius: 30px;
    }
    @media screen and (min-width: $laptop) {
      border-radius: 56px;
    }
  }
}

.contentWraper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 16px;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $laptop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  @media screen and (min-width: $desktop) {
    row-gap: 40px;
    margin-bottom: 48px;
  }
}

.contentItem {
  position: relative;
  z-index: 1;
  @media screen and (min-width: $laptop) {
    background-color: $backgroundColor;
    &:last-child,
    &:nth-last-child(2) {
      box-shadow: $shadowColor;
      background-color: $backgroundColor;
    }
  }
}

.contentTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: $gray0;
  margin-bottom: 12px;
  width: 100%;
  text-align: start;
  @media screen and (min-width: $mobile) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 38px;
    line-height: 1.1;
  }
  @media screen and (min-width: $laptop) {
    font-size: 44px;
  }
}

.contentDesc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $gray0;
  // height: 205px;

  @media screen and (min-width: $mobile) {
    // height: 180px;
  }
  @media screen and (min-width: $tablet) {
    // height: 77px;
  }
  @media screen and (min-width: $laptop) {
    // width: 468px;
    // height: 192px;
    font-size: 20px;
  }
  @media screen and (min-width: $desktop) {
    // width: 636px;
    // height: 128px;
  }
}
.imgScreensContainer {
  position: relative;
  box-shadow: $shadowColor;
  border-radius: 8px;
  // width: 280px;
  width: 100%;
  height: 186px;
  margin-bottom: 20px;
  & img {
    object-fit: cover;
    border-radius: 8px;
  }

  @media screen and (min-width: $mobile) {
    // width: 312px;
    height: 208px;
  }
  @media screen and (min-width: 400px) {
    height: 280px;
  }

  @media screen and (min-width: 560px) {
    height: 390px;
  }
  @media screen and (min-width: $tablet) {
    border-radius: 30px;
    // width: 704px;
    height: 494px;
    border: double 1px transparent;
    background-image: linear-gradient($gray0, $gray0), $gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin-bottom: 32px;
    & img {
      border-radius: 30px;
    }
  }

  @media screen and (min-width: 900px) {
    height: 594px;
  }
  @media screen and (min-width: $laptop) {
    border-radius: 56px;
    // width: 960px;
    height: 674px;
    & img {
      border-radius: 56px;
    }
  }
  @media screen and (min-width: 1200px) {
    height: 855px;
  }
  @media screen and (min-width: $desktop) {
    // width: 1296px;
    // height: 910px;

    height: 85vh;
    margin-bottom: 48px;
  }
}

.mobileContainer {
  position: relative;
  z-index: 1;
  margin-bottom: 12px;
  @media screen and (min-width: $mobile) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $laptop) {
    margin-right: auto;
    width: 468px;
    height: 152px;
    box-shadow: $shadowColor;
    background: $backgroundColor;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    width: 636px;
    height: 184px;
    margin-bottom: 24px;
  }
}

.mobileTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: $gray0;
  margin-bottom: 12px;
  @media screen and (min-width: $mobile) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 38px;
    line-height: 1.1;
  }
  @media screen and (min-width: $laptop) {
    font-size: 44px;
  }
}

.mobileDesc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $gray0;
  margin-bottom: 12px;
  align-items: start;
}

.mobileImgContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 16px;
}

.mobileItem {
  &:last-child {
    margin-left: 16px;
    @media screen and (min-width: $laptop) {
      margin-left: 24px;
    }
  }
  &:first-child {
    @media screen and (min-width: $laptop) {
      margin-right: 24px;
    }
  }
  &:nth-last-child(2) {
    position: absolute;
    bottom: -40px;
    left: 27%;
    z-index: 5;
    @media screen and (min-width: $tablet) {
      bottom: -98px;
    }
    @media screen and (min-width: $laptop) {
      position: static;
    }
  }
}

.mobileImgItem {
  position: relative;
  border-radius: 12px;
  width: 132px;
  height: 221px;
  box-shadow: $shadowColor;
  background-color: #000000;
  border: 4px solid #0d0d11;
  & img {
    object-fit: cover;
    border-radius: 8px;
  }

  @media screen and (min-width: $mobile) {
    width: 148px;
    height: 248px;
  }
  @media screen and (min-width: $tablet) {
    border: 8px solid #0d0d11;
    border-radius: 56px;
    width: 340px;
    height: 640px;
    & img {
      border-radius: 44px;
    }
  }
  @media screen and (min-width: $laptop) {
    border: 12px solid #0d0d11;
    width: 304px;
    height: 534px;
  }

  @media screen and (min-width: $desktop) {
    width: 416px;
    height: 732px;
  }
}
