@import '../../app/variables';

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 100px 20px 40px 20px;

  @media screen and (min-width: $mobile) {
    padding: 100px 20px 80px 20px;
  }

  @media screen and (min-width: $tablet) {
    padding: 140px 20px 80px 20px;
  }

  @media screen and (min-width: $laptop) {
    padding: 112px 32px 80px 32px;
  }

  @media screen and (min-width: $desktop) {
    padding: 112px 72px 80px 72px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 53px;
  animation: fadeIn 0.8s ease-in-out forwards;

  @media screen and (min-width: $mobile) {
    font-size: 48px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 58px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 64px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 72px;
    margin-bottom: 24px;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ourProjectsList {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 24px;
  animation: fadeUp 0.8s ease-in-out forwards;

  @media screen and (min-width: $tablet) {
    row-gap: 70px;
  }

  @media screen and (min-width: $laptop) {
    row-gap: 124px;
  }
}

.ourProjectsItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  @media screen and (min-width: $laptop) {
    flex-direction: row-reverse;
    column-gap: 24px;

    &:nth-child(odd) {
      flex-direction: row;
    }
  }
}

.ourProjectsImgContainer {
  position: relative;
  min-width: 280px;
  height: 55vw;
  box-shadow: $shadowColor;
  margin-bottom: 16px;

  @media screen and (min-width: $mobile) {
    min-width: 312px;
  }

  @media screen and (min-width: $tablet) {
    min-width: 704px;

    height: 55vw;
    border-radius: 34px;
    margin-bottom: 20px;
    border: double 1px transparent;
    background-image: linear-gradient($gray0, $gray0), $gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  @media screen and (min-width: $laptop) {
    min-width: 632px;
    height: 422px;
    border-radius: 56px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 732px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 880px;
    height: 480px;
  }
}

.img {
  object-fit: inherit;

  @media screen and (min-width: $tablet) {
    border-radius: 34px;
  }

  @media screen and (min-width: $laptop) {
    border-radius: 56px;
  }
}

.ourProjectsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: #1a8cff;
      position: absolute;
      bottom: -8px;
      left: 0;
    }
  }

  @media screen and (min-width: $laptop) {
    &::after {
      display: none;
    }
  }

  @media screen and (min-width: $desktop) {
    &::after {
      display: block;
      bottom: -64px;
    }
  }
}

.ourProjectsTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 12px;

  @media screen and (min-width: $mobile) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 38px;
    line-height: 1.1;
    margin-bottom: 16px;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 36px;
    line-height: 1.4;
    letter-spacing: 0.01em;
  }

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.1;
  }
}

.ourProjectsTitleGradient {
  @media screen and (min-width: $tablet) {
    background: linear-gradient($gray0, $gray0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.ourProjectsDesc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $gray0;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media screen and (min-width: $mobile) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $tablet) {
    -webkit-line-clamp: 2;
    margin-bottom: 12px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 20px;
    -webkit-line-clamp: 4;
  }
}

.readMore {
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $laptop) {
    margin-bottom: auto;
  }
}

.readMoreIcon {
  width: 24px;
  height: 7px;
  margin-left: 8px;

  @media screen and (min-width: $tablet) {
    width: 32px;
    height: 12px;
  }
}

.btnWrapper {
  display: none;

  @media screen and (min-width: $tablet) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 208px;
    height: 50px;
    padding: 1px;
    margin: 0 auto;
    box-shadow: $shadowColor;
  }

  @media screen and (min-width: $laptop) {
    padding: 3px;
    width: 304px;
    height: 80px;
  }
}

.openSite {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

    color: $gray0;
  }

  @media screen and (min-width: $laptop) {
    font-size: 20px;
  }
}