@import '../../app/variables';

.blog {
  display: none;
  @media screen and (min-width: $laptop) {
    display: block;
    background-color: #ffffff;
    flex: 1;
  }
}
.blogIdContainer {
  @media screen and (min-width: $laptop) {
    padding: 204px 32px 80px 32px;
  }
  @media screen and (min-width: $desktop) {
    padding: 228px 72px 80px 72px;
  }
}

.backContainer {
  @media screen and (min-width: $laptop) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    column-gap: 16px;
    width: max-content;
    padding: 0 8px;
    background-color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: #ffffff;
    margin-bottom: 24px;
    cursor: pointer;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.backIcon {
  @media screen and (min-width: $laptop) {
    width: 32px;
    height: 12px;
    fill: #ffffff;
    transform: rotate(180deg);
  }
}

.blogTitle {
  @media screen and (min-width: $laptop) {
    font-weight: 400;
    font-size: 44px;
    line-height: 1.1;
    color: #0d0d11;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 64px;
    margin-bottom: 24px;
  }
}

.blogContent {
  @media screen and (min-width: $laptop) {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    column-gap: 24px;
    flex-direction: row-reverse;
    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }
  @media screen and (min-width: $desktop) {
  }
}

.firstImgContainer {
  @media screen and (min-width: $laptop) {
    position: relative;
    min-width: 468px;
    height: 471px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 636px;
    height: 640px;
  }
}

.lastImgContainer {
  @media screen and (min-width: $laptop) {
    position: relative;
    min-width: 386px;
    height: 445px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 416px;
    height: 480px;
  }
}

.img {
  object-fit: cover;
}

.blogDesc {
  @media screen and (min-width: $laptop) {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    color: #0d0d11;
  }
}
