@import '../../app/variables';

.blog {
  position: relative;
  background-color: $gray0;
  flex: 1;
  z-index: 1;
}

.blogIdContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  // padding: 92px 22px 40px 22px;
  padding: 92px 20px 40px 20px;

  @media screen and (min-width: $mobile) {
    // padding: 100px 20px 80px 20px;
    padding: 100px 24px 40px 24px;
  }

  @media screen and (min-width: $tablet) {
    // padding: 124px 20px 80px 20px;
    padding: 124px 32px 40px 32px;
  }

  @media screen and (min-width: $laptop) {
    padding: 112px 32px 80px 32px;
    // padding: 140px 32px 80px 32px;
  }

  @media screen and (min-width: $desktop) {
    padding: 112px 72px 80px 72px;
    // padding: 140px 72px 80px 72px;
  }
}

.backContainer {
  color: $gray900;
}

.backIcon {
  stroke: $gray900 !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blogIdContent {
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 90%;
  }

  @media screen and (min-width: $laptop) {
    width: 70%;
  }

  @media screen and (min-width: $desktop) {
    width: 60%;
  }
}

.blogTitle {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.1;
  color: $gray900;
  margin-bottom: 16px;
  animation: fadeIn 0.8s ease-in-out forwards;

  @media screen and (min-width: $tablet) {
    font-size: 58px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $laptop) {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 72px;
    // font-size: 96px;
    line-height: 1.1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ImgContainer {
  position: relative;
  width: 100%;
  height: 75vw;
  margin-bottom: 12px;

  @media screen and (min-width: $mobile) {
    height: 80vw;
  }

  @media screen and (min-width: 500px) {
    height: 50vw;
  }

  @media screen and (min-width: $tablet) {
    height: 45vw;
    margin-bottom: 16px;
  }

  @media screen and (min-width: $laptop) {
    height: 40vw;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    height: 471px;
  }
}

.img {
  object-fit: cover;
  color: $gray800;
}

.publishedContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-end;
  column-gap: 16px;
  row-gap: 4px;
  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    column-gap: 16px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: $laptop) {
    column-gap: 24px;
    margin-bottom: 20px;
  }
}

.publishedTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: $gray800;

  @media screen and (min-width: $laptop) {
    font-size: 16px;
  }
}

.publishedDate {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: $gray700;

  @media screen and (min-width: $laptop) {
    font-size: 16px;
  }
}

.publishedAutor {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: $gray800;

  @media screen and (min-width: $laptop) {
    font-size: 16px;
  }
}

.blogIdDescContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 24px;
}

.blogIdDescItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 16px;
}

.blogIdSubtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  color: $gray900;

  @media screen and (min-width: $laptop) {
    font-size: 24px;
  }
}

.blogIdDesc {
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $gray900;

  @media screen and (min-width: $laptop) {
    font-size: 20px;
  }
}

.blogIdMainText {
  margin-bottom: 16px;
}

.blogIdEpilogue {
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $laptop) {
    margin-bottom: 40px;
  }
}

.loading {
  margin-top: 200px;
  font-size: 40px;
}

.interestingBlogs {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  color: $gray900;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    font-size: 32px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 44px;
    margin-bottom: 32px;
  }
}