.ServicesSwiper {
  width: 100%;
}

/* .ServiceSwiper .swiper-wrapper {
    height: 632px;
    @media screen and (min-width:768px) {
        height: 629px;
    }

    @media screen and (min-width:1024px) {
        height:556px;
    }

    @media screen and (min-width:1440px) {
        height: 764px;
    }
} */

/* 
.ServicesSwiper .swiper-slide {
    display: flex;
    justify-content: center;
} */

/* .ServicesSwiper .slideContentWrapper {
    background-color: #0d0d11;
    height: 632px; */
/* box-shadow: 6px 12px 32px 0px #1A8CFF1A; */

/* @media screen and (min-width:768px) {
        height: 653px;
        padding: 24px;
        width: 340px;
    }; */

/* @media screen and (min-width:1024px) {
        padding: 16px 12px;
        width: 304px;
    };

    @media screen and (min-width:1440px) {
        padding: 32px 16px;
        width: 416px;
    } */
/* } */

.ServicesSwiper .swiper-pagination {
  top: 97%;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.ServicesSwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #cbcbcf;
}

.ServicesSwiper .swiper-pagination-bullet:hover {
  opacity: 1;
  background: linear-gradient(to right, #faff00, #00f0ff, #0600ff);
}

.ServicesSwiper .swiper-pagination-bullet-active {
  background: linear-gradient(to right, #faff00, #00f0ff, #0600ff);
}

.ServicesSwiper .swiper-button-prev,
.ServicesSwiper .swiper-button-next {
  visibility: hidden;
}

.ServicesSwiper .swiper-button-prev:after,
.ServicesSwiper .swiper-button-next:after {
  font-size: 12px;
  font-weight: 900;
  color: #a6a6aa;
}

@media screen and (min-width: 1024px) {
  .ServicesSwiper .swiper-button-prev {
    visibility: visible;
    left: 48%;
    top: 97%;
    width: 48px;
    height: 48px;
  }

  .ServicesSwiper .swiper-button-next {
    visibility: visible;
    left: 52%;
    top: 97%;
    width: 48px;
    height: 48px;
  }
}