@import "../../app/variables";

.serviceList{
  width: 100%;
    // display: -ms-grid;
    // display: grid;
    // grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    row-gap: 24px;
    // animation: fadeUp 0.8s ease-in-out forwards;
    height: 632px;

    @media screen and (min-width:768px) {
        height: 693px;
    }

    @media screen and (min-width:1024px) {
        height: 742px;
    }

    @media screen and (min-width:1440px) {
        /* width: 1296px; */
        height: 828px;
    }
    // @media screen and (min-width: $tablet) {
    //   grid-template-columns: repeat(2, 1fr);
    // }
    // @media screen and (min-width: $laptop) {
    //   grid-template-columns: repeat(3, 1fr);
    // }
    }

.serviceItem{
    box-shadow: 6px 12px 32px 0 rgba(26, 140, 255, 0.1);
  background-color: #0d0d11;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-work-sans);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 48px;
  height: 632px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  @media screen and (min-width:768px) {
      height: 669px;
  }

  @media screen and (min-width:1024px) {
      height:659px;
      font-size: 14px;
  }

  @media screen and (min-width:1440px) {
      height: 764px;
      font-size: 14px;
  }
  // height: 632px;
  // height: auto;
  // min-height: 772px;
  // & ul {
  //   margin-bottom: 54px;
  // }
    // height: 750px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // padding: 15px;
    // .price{
    //     width: fit-content;
    //     margin-left: auto;
    //     font-weight: 400;
    // font-size: 16px;
    // line-height: 1.6;
    // color: #ffffff;

    // @media screen and (min-width:1024px) {
    //     font-size: 20px;
    // }
    // }
    // h3 {

    //     font-weight: 500;
    //     font-size: 24px;
    //     line-height: 1.6;
    //     text-align: center;
    //     color: white;
    //     margin-bottom: 16px;
    //     background-clip: text;
    
    //     @media screen and (min-width:1024px) {
    //         font-size: 20px;
    //     }
    // }
}
 
.readMore{
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
  justify-content: flex-end;
}

.readMoreTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .linkCont{
    display: flex;
    align-items: center;
  }
  
  .readMoreIcon {
    width: 32px;
    height: 12px;
    transform: rotate(180deg);
    margin-left: 16px;
    
  }

  .cartTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    margin-bottom: 24px;
  }

  .descItem {
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  
  .price {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 32px;
    text-align: right;
  }

  #orderBtn{
    width:100%;
  }