@import "../../app/variables";

.serviceList{
    width: 100%;
    height: 1356px;
    display: flex;
    // justify-content: space-between;
    align-items: baseline;
    
}

.serviceItem{
    // height: 828px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    // .price{
    //     margin: 0 auto;
    // }
}

.descItem{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
    // justify-content: space-between;
}