.ServicesSwiper {
  width: 100%;
  /* height: 548px; */
  height: calc(740px - 36vw);
  min-height: 464px;
  /* background-color: aquamarine; */
  padding-bottom: 40px !important;

  @media screen and (min-width: 768px) {
    height: calc(1064px - 24vw);
    padding-bottom: 56px !important;
  }

  @media screen and (min-width: 1440px) {
    height: 900px;
    padding-bottom: 64px !important;
  }
}
.ServicesSwiper .swiper-slide {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.ServicesSwiper .swiper-pagination {
  top: 97%;
  top: auto;
  bottom: 0;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.ServicesSwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #cbcbcf;
}

.ServicesSwiper .swiper-pagination-bullet:hover {
  opacity: 1;
  background: linear-gradient(to right, #faff00, #00f0ff, #0600ff);
}

.ServicesSwiper .swiper-pagination-bullet-active {
  background: linear-gradient(to right, #faff00, #00f0ff, #0600ff);
}

.ServicesSwiper .swiper-button-prev,
.ServicesSwiper .swiper-button-next {
  visibility: hidden;
}

.ServicesSwiper .swiper-button-prev:after,
.ServicesSwiper .swiper-button-next:after {
  font-size: 12px;
  font-weight: 900;
  color: #a6a6aa;
}

@media screen and (min-width: 1024px) {
  .ServicesSwiper .swiper-button-prev {
    visibility: visible;
    left: 48%;
    top: 97%;
    width: 48px;
    height: 48px;
  }

  .ServicesSwiper .swiper-button-next {
    visibility: visible;
    left: 52%;
    top: 97%;
    width: 48px;
    height: 48px;
  }
}
