.WorkingProcessSwiper {
  width: 100%;
  height: 222px;

  @media screen and (min-width:768px) {
      height: 228px;
  }

  @media screen and (min-width:1024px) {
      /* height: 424px; */
      height: 454px;
  }

  @media screen and (min-width:1440px) {
      /* height: 336px; */
      height: 366px;
  }
}

.WorkingProcessSwiper .swiper-wrapper {
  height: 210px;

  @media screen and (min-width:768px) {
      height: 208px;
  }

  @media screen and (min-width:1024px) {
      height: 424px;
  }

  @media screen and (min-width:1440px) {
      height: 336px;
  }
}

.WorkingProcessSwiper .swiper-slide {
  display: flex;
  justify-content: center;
}

.WorkingProcessSwiper .slideContentWrapper {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 32px 16px;
  background-color: #0d0d11;
  box-shadow: 6px 12px 32px 0px #1A8CFF1A;

  @media screen and (min-width:768px) {
      padding: 24px;
  }

  @media screen and (min-width:1024px) {
      padding: 16px 12px;
  }

  @media screen and (min-width:1440px) {
      padding: 32px 16px;
  }
}


.WorkingProcessSwiper .swiper-slide h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-image: linear-gradient(to right, #faff00,
          #00f0ff,
          #0400b3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 16px;
  background-clip: text;

  @media screen and (min-width:1024px) {
      font-size: 20px;
  }
}

.WorkingProcessSwiper .swiper-slide p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;

  @media screen and (min-width:1024px) {
      font-size: 20px;
  }
}

.WorkingProcessSwiper .swiper-pagination {
  bottom: 0;
}

.WorkingProcessSwiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background: #4B4B4E;
}

.WorkingProcessSwiper .swiper-pagination-bullet:not(:first-child) {
  margin-left: 2px;
}

.WorkingProcessSwiper .swiper-pagination-bullet:not(:last-child) {
  margin-right: 2px;
}

.WorkingProcessSwiper .swiper-pagination-bullet-active {
  background: linear-gradient(to right, #faff00,
          #00f0ff,
          #0400b3);
}