@import "../../../../variables";

.form {
    width: fit-content;
    background-color: blueviolet;
    padding: 12px;
}

.loginBtn {
    padding: 12px;
    font-family: var(--font-work-sans);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
}

.formLogin {
    width: fit-content;
    background-color: rgb(240, 40, 30);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}