@import "../../app/variables";

.nav {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

.linkWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  position: relative;
  transition-duration: 250ms;
}

.arrow {
  width: 12px;
  height: 12px;
  cursor: pointer;

  &:focus,
  &:hover {
    transform: rotate(90deg);
    & ~ .navLink::after {
      width: 100%;
    }
  }
}
.arrowActive {
  transform: rotate(90deg);
}

.subLinkWrapper a,
.navLink {
  position: relative;
  display: inline-block;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-image: $gradient;
    bottom: 0;
    left: 0;
  }

  &:hover,
  &:focus {
    &::after {
      animation: animate 0.5s linear forwards;
    }
  }
}

.navLink {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subLinkWrapperVisible,
.subLinkWrapper {
  height: 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  z-index: 20;
  color: $gray0;
  background-color: $gray900;

  padding: 0px 32px;

  margin-left: -24px;
  /* margin: -18px; */
  width: 200px;

  @media screen and (min-width: $mobile) {
    width: 327px;
    margin-left: -32px;
  }

  @media screen and (min-width: $tablet) {
    width: 412px;
    margin-left: -32px;
  }
  @media screen and (min-width: $laptop) {
    width: 327px;
    top: 0;
    left: 100%;

    color: $gray900;
    background-color: $gray0;
    width: 0;
    height: auto;
    padding: 32px 0px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    width: max-content;
    margin-left: 0;
    color: $gray900;
    padding: 0px 32px;
    background-color: $gray0;
    top: 40px;
    height: 0;
    left: 0;
  }
}

.subLinkWrapperVisible {
  max-height: 70vh;
  height: auto;
  padding: 32px;
  padding-top: 20px;

  overflow: scroll;

  @media screen and (min-width: $laptop) {
    width: 327px;
    padding: 32px;
  }

  @media screen and (min-width: $desktop) {
    padding: 32px 16px 16px 32px;
    max-height: fit-content;
    top: 40px;
    height: fit-content;
  }
}

.subLinkWrapper:hover + .navLink {
  &::after {
    width: 100%;
  }
}

@keyframes animate {
  to {
    width: 100%;
  }
}

.active {
  &::after {
    width: 100%;
  }
}
