@import "../../app/variables";

.nav {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  cursor: pointer;
  width: 100%;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    width: fit-content;
  }
}

.linkWrapper {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  width: 100%;
  position: relative;
  transition-duration: $transitionDuration;
  height: fit-content;
  &:hover,
  &:focus {
    height: fit-content;
    & .arrow {
      transform: rotate(90deg);
      background-image: $gradient;
    }
  }
  @media screen and (min-width: $desktop) {
    width: auto;
  }
}

.linkTitleWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.arrow {
  width: 8px;
  height: 12px;
  background-image: linear-gradient($gray0, $gray0);
  clip-path: polygon(0 0, 0 100%, 78% 50%);
  transition-duration: $transitionDuration;
}
.arrowActive {
  transform: rotate(90deg);
  background-image: $gradient;
}

.subLinkWrapper a,
.navLink {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.subLinkWrapperVisible,
.subLinkWrapper {
  height: 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  height: 0;
  z-index: 20;
  color: $gray0;
  margin-left: -24px;
  width: calc(100% + 24px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 1);
  padding: 0px 32px;
  transition-duration: $transitionDuration;

  @media screen and (min-width: $mobile) {
    margin-left: -32px;
    width: calc(100% + 32px);
  }

  @media screen and (min-width: $tablet) {
    width: calc(100% + 64px);
  }
  @media screen and (min-width: $laptop) {
    position: absolute;
    top: 0;
    left: 200px;
    width: 0;
    padding: 32px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    color: $gray0;
    background-color: $gray900;
    box-shadow: $shadowColor;
    font-size: 20px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    width: max-content;
    margin-left: 0;
    color: $gray900;
    padding: 0px 16px;
    background-color: $gray0;
    top: 48px;
    height: 0;
    left: 0;
    &::before {
      display: none;
    }
  }
}

.subLinkWrapperVisible {
  padding: 32px;
  height: fit-content;

  @media screen and (min-width: $laptop) {
    width: max-content;

    &::before {
      content: "";
      position: absolute;

      width: 100%;
      height: 3px;
      background-image: $gradient;
    }
  }
  @media screen and (min-width: $desktop) {
    padding: 32px 16px;
    top: 48px;
  }
}

.underline {
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  padding-bottom: 16px;
  &:last-child {
    border: none;
    padding-bottom: 0;
  }
  @media screen and (min-width: $laptop) {
    border: none;
    padding-bottom: 0;
  }
}
