@import "../../app/variables";

.nav {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  width: fit-content;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

.linkWrapper {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  width: fit-content;
  position: relative;
  transition-duration: 250ms;
  height: fit-content;

  &:hover,
  &:focus {
    height: fit-content;
    & .arrow {
      transform: rotate(90deg);
      background-image: $gradient;
    }
  }
}

.linkTitleWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.arrow {
  width: 8px;
  height: 12px;
  background-image: linear-gradient($gray0, $gray0);
  clip-path: polygon(0 0, 0 100%, 78% 50%);
}
.arrowActive {
  transform: rotate(90deg);
  background-image: $gradient;
}

.subLinkWrapper a,
.navLink {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.subLinkWrapperVisible,
.subLinkWrapper {
  height: 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
  height: 0;
  z-index: 20;
  color: $gray0;
  background-color: $gray900;

  padding: 0px 32px;

  margin-left: -24px;
  width: 200px;

  @media screen and (min-width: $mobile) {
    width: 100%;
    margin-left: -32px;
  }

  @media screen and (min-width: $tablet) {
    width: 412px;
    margin-left: -32px;
  }
  @media screen and (min-width: $laptop) {
    position: absolute;
    width: 327px;
    top: 0;
    left: 100%;

    width: 0;
    padding: 32px 0px;
    margin-left: 56px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    color: $gray0;
    background-color: $gray900;
    box-shadow: $shadowColor;
    font-size: 20px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    width: max-content;
    margin-left: 0;
    color: $gray900;
    padding: 0px 16px;
    background-color: $gray0;
    top: 48px;
    height: 0;
    left: 0;
    &::before {
      display: none;
    }
  }
}

.subLinkWrapperVisible {
  padding: 32px;
  height: fit-content;

  @media screen and (min-width: $laptop) {
    padding: 32px;
    width: max-content;

    &::before {
      content: "";
      position: absolute;

      width: 100%;
      height: 3px;
      background-image: $gradient;
    }
  }
  @media screen and (min-width: $desktop) {
    padding: 32px 16px;
    top: 48px;
  }
}

// .subLinkWrapper:hover + .navLink {
//   &::after {
//     width: 100%;
//   }
// }
